<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/inputs.css" />
  <title>FutureMakers Sample App</title>

  {% block head %}
  {% endblock %}
</head>

<body>
  <div class=page>
  <div class="header">
  Future Makers Sample App
    </div>
  <div class="menu">
  <div class="menu-item"><a href="/">Home</a></div>
  {% if 'name' not in session %}
  <div class="menu-item"><a href="login">Login</a></div>
  {% else %}
  <div class="menu-item"><a href="logout">Logout</a></div>
  {% endif %}

  <div class="menu-item"><a href="/weather">Weather</a></div>
  <div class="menu-item"><a href="/upload">Upload</a></div>
  <div class="menu-item"><a href="/button">Button</a></div>
  </div>
  {% if 'name' in session %}
  <h2>Logged in as {{ session['name'] }}</h2>
  {% else %}
  <h2>Not logged in</h2>
  {% endif %}

    {% block body %}
    {% endblock %}
  </div>
</body>
</html>